// Did not extend layout because of container div messes up landing page.
doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description", content="")
    meta(name="csrf-token", content=_csrf)
    meta(name="author", content="")
    title #{title} - Effusive
    link(rel="stylesheet" href="/css/main.min.css")
    style.
      body {
        overflow-x: hidden;
      }
  body

    include partials/navbar
    .intro-header
      h1 Effusive
      .row
        .col-md-8.col-md-offset-2
          h3.
            Open source socia media platform.
          br
          a(href="/signup")
            btn.btn-primary.btn-lg Join now today
    .row
      .col-md-8.col-md-offset-2.text-center.text-muted
        br
        p Designed and built with all the love in the world by <a href="https://twitter.com/CreaturePhil" target="_blank">@CreaturePhil</a>.
        p Code licensed under <a href="https://github.com/CreaturePhil/effusive/blob/master/LICENSE" target="_blank">MIT</a>.
        p.
          <a href="https://github.com/creaturephil/effusive">GitHub</a>
          &nbsp;&nbsp;-&nbsp;&nbsp;
          <a href="https://github.com/creaturephil/effusive/issues">Issues</a>

    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
    script(src="/js/bootstrap.min.js")
